.sidebar {
    background-color: rgb(204, 204, 122);
    color: rgb(16, 16, 16);
    height: 100vh;
    padding: 1rem;
    max-width: 12vw;

    .list-item {
        margin: 1rem 0;
    }
    .list-item1 {
        margin-bottom: 20px; 
     }
}

